<div class="header-wrapper">
	<div class="dragon-logo">
		<a href="/">
			<%= image_tag("dragonfly.png", alt: "Devour Bugs") %>
		</a>
	</div>

	<div class="view-database">
		<p>
			<a href="/tests">
				View Archives <i class="fa fa-database"></i>
			</a>
		</p>
	</div>
	<div class="new-dragon">
		<p>
			<a href="/tests/new">
				New Dragonfly <i class="fa fa-plus"></i>
			</a>
		</p>
	</div>
</div>